<app-header />

<main>
  <div id="dashboard">
    <dashboard-item 
      [image]="{src: 'status.png', alt: 'A single symbol'}" 
      title="Server Status">
      <server-status />
    </dashboard-item>

    <dashboard-item 
      [image]="{src: 'globe.png', alt: 'A globe'}" 
      title="Traffic">
      <traffic />
    </dashboard-item>

    <dashboard-item 
      [image]="{src: 'list.png', alt: 'A list'}" 
      title="Support Tickets">
      <tickets />
    </dashboard-item>
  </div>

</main>
